

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');



// sans-serif mixin
@mixin font-title {
    font-family: "Bebas Neue", sans-serif;
}

// sans-serif mixin
@mixin font {
	font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

// bold italic
@mixin font-italic {
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-weight: 400;
}

// bold face
@mixin font-bold {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

// bold italic
@mixin font-bold-italic {
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-weight: 700;
}

